/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2015, 5:15:15 PM
    Author     : VoRD
*/

table{
    width: 100%;
}
th{
    text-align: center;
    vertical-align: middle ! important;
}
tr th{
    text-align: center;
    vertical-align: middle ! important;
}
td{
    vertical-align: middle ! important;
}